@import "tailwindcss";

@keyframes float {
  0%, 100% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(-10px) scale(1.02);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

body{
  background-color: #0f172a;
}
